body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

header {
    text-align: center;
    color: whitesmoke;
}

header h1 {
    background-color: #222831;
}

header h4 {
    color: #393E46;
    margin-top: 40px;
}

header p {
    margin-top: -10px;
    font-size: small;
    color: #222831;
    margin-bottom: 20px;
    text-align: center;
}

.mainPage {
    background-color: #f0f0f0;
    width: 90%;
    max-width: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-top: 20px;
}

#sisiPersegi {
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #EEEEEE;
    padding: 10px;
}

#sisiPersegi:focus {
    border: solid #393E46;
}

#panjangSisi {
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #EEEEEE;
    padding: 10px;
}

#panjangSisi:focus {
    border: solid #393E46;
}

#lebarSisi {
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #EEEEEE;
    padding: 10px;
}

#lebarSisi:focus {
    border: solid #393E46;
}


.allPage {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.head {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pilihObjek {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    padding-bottom: 20px;
}

.objekHitung {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 200px;
}

.objekHitung:active {
    background-color: lightcyan;
}

button {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: lightsteelblue;
}

button:active {
    transform: scale(0.97);
}

.btnHitung {
    background-color: #393E46;
    color: #EEEEEE;
}

.btnHitung:hover {
    background-color: #222831;
}

.btnHitung:active {
    background-color: #222831;
}

.btnHitung:disabled {
    background-color: lightgray;
}

.btnReset {
    background-color: #BF3131;
    color: #EEEEEE;
}

.btnReset:hover {
    background-color: #7D0A0A;
}

.btnReset:active {
    background-color: #7D0A0A;
}